@model OverwatchGuides.Models.Hero

<div>
    <ul class="breadcrumb pull-left">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Heroes", "Index", "Heroes")</li>
        <li>@ViewBag.name</li>
    </ul>
</div>

<div class="jumbotron text-center">
    <h1 class="big-noodle">@Html.DisplayFor(model => model.HeroName)</h1>
    <h3 class="big-noodle"><img height="25px" width="25px" src="@ViewBag.categoryImage" />@Html.DisplayFor(model => model.Category)</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @* gets the url image path from the database to display the hero image *@
            <img height="300px" width="auto" src="@Url.Content(Model.Image)" />
        </div>
        <div class="col-md-3">
            <h3 class="big-noodle">Strengths</h3>
            <ul>
                @* dispays the strings contained in the array on the view *@
                @foreach (String strength in ViewBag.strengthsArray)
                {
                    <li>@strength</li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <h3 class="big-noodle">Counters</h3>
            <ul>
                @* dispays the strings contained in the array on the view *@
                @foreach (String counters in ViewBag.countersArray)
                {
                    <li>@counters</li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <h3 class="big-noodle">Hero Synergy</h3>
            <ul>
                @* dispays the strings contained in the array on the view *@
                @foreach (String synergy in ViewBag.synergyArray)
                {
                    <li>@synergy</li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <h3 class="big-noodle">Weaknesses</h3>
            <ul>
                @* dispays the strings contained in the array on the view *@
                @foreach (String weakness in ViewBag.weaknessesArray)
                {
                    <li>@weakness</li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <h3 class="big-noodle">Countered By</h3>
            <ul>
                @* dispays the strings contained in the array on the view *@
                @foreach (String counteredby in ViewBag.counteredbyArray)
                {
                    <li>@counteredby</li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <h3 class="big-noodle">Hero Discord</h3>
            <ul>
                @* dispays the strings contained in the array on the view *@
                @foreach (String discord in ViewBag.discordArray)
                {
                    <li>@discord</li>
                }
            </ul>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
@{
    if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="create">

                    @using (Html.BeginForm("PostComment", "Heroes", FormMethod.Post))
                    {
                        <form>
                            <div class="form-group">
                                <label for="comment" class="big-noodle">Comments</label>
                                @Html.TextBox("Body", null, new { @placeholder = "Add a comment...", @class = "form-control" })
                                <br />
                                @Html.Hidden("HeroCode", Model.HeroCode)
                                <input type="submit" value="Submit" class="btn btn-default pull-right" />
                            </div>
                        </form>
                    }
                </div>

        
            </div>
            </div>
        <br />
        <br />

        int i = 0;
        
        foreach(var comment in ViewBag.Comments)
        {
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title big-noodle">
                                    <a data-toggle="collapse" href="#@i">@comment.UserEmail</a>
                                </h4>
                            </div>
                            <div id="@i" class="panel-collapse">
                                <div class="panel-body">
                                    <p>@comment.Comment</p>
                                    <br />
                                    <div class="col-md-11 col-md-offset-1">
                                        <p>@comment.ReplyCommentBody</p>

                                        @using (Html.BeginForm("PostReply", "Heroes", FormMethod.Post))
                                        {
                                            <form>
                                                @Html.Hidden("commentID", (string)comment.HeroCommentID.ToString())
                                                @Html.Hidden("hero", Model.HeroCode)
                                                @Html.TextBox("Reply", null, new { @class = "form-control", placeholder = "Reply..." })
                                                <br />
                                                <input type="submit" value="Reply" class="btn btn-default pull-right" />
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3"></div>
            </div>
            <br />
            i++;
        }
    }
}


